<html>
	<head>
		<title>Game Tebak Angka</title>
	</head>
	<body>
		<h1>Game Tebak Angka</h1>
		<form method="POST" action="/lists/new">
			<input name="item_text" id="id_new_item" placeholder="Masukkan angka 1-30" />
			{% csrf_token %}
		</form>
<!-- 
		<span>{{ comment }}</span> -->
		
		<table id="id_list_table">
			<!--Membuat multiple display list-->
			{% for item in items %}
				<tr><td> {{ forloop.counter }}: {{ item.text }}</td></tr>
			{% endfor %}
		</table>
	</body>
</html>