<html>
	<head>
		<title>Game Tebak Angka</title>
	</head>
	<body>
		<h1>Game Tebak Angka</h1>
		<form method="POST" action="/lists/{{ list.id }}/add_item">
			<input name="item_text" id="id_new_item" placeholder="Masukkan angka 1-30" />
			{% csrf_token %}
		</form>
		<table id="id_list_table">
			{% for item in list.item_set.all %}
            	<tr>
            		<td>Angka: {{ item.angkaacak }}</td>
            		<td>Tebakan: {{ item.angka }}</td>
            	</tr>
            	<tr>
            		<td>{{ item.statusnya }}</td>
            	</tr>
            	<tr>
            		<td>{% block comment_text %} {{ comment }} {% endblock %}</td>
            	</tr>
        	{% endfor %}
		</table>
	</body>
</html>